$background-color: #fff;
$primary-color: #e20074;
$primary-font-color: #fff;
$primary-focus-highlight:  rgba(0, 0, 0, 0.1);
$alt-color: #ba0060;
$alt-font-color: #333;
$alt-nav-color: #e6e6e6;
$alt-background-color: #f3f3f3;
$completed-color: #FBD2E0;
$success-color: #F6A6C1;
$pending-color: #E6E6E6;
$status-blocked: #e6e6e6;
$status-blocked-font: #000;
$status-disabled: #ddd;
$subtle-success: rgba(226,0,116,0.3);
$subtle-fail: rgba(226,0,116,0.3);
$subtle-spinner:rgba(0,0,0,0.3);
$status-filtered: #6b6b6b;